.header {
  border-bottom: 1px solid #ECECEC;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0;
}
// .header__logo{
//   padding-top: 16px;
//   padding-bottom: 16px;
// }
.logo {
  font-size: 26px;
  line-height: 1.19;
  font-weight: 700;
  letter-spacing: 0.03em;
  display: flex;
  font-family: Raleway, sans-serif;
}

.logo_color_light {
  color: var(--accent-color);
  margin-right: 93px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.logo_color_dark {
  color: var(--title-text-color);
}


.header-items {
  display: flex;
  align-items: center;
  @media  screen and (min-width:768px){
    display:flex; 
    margin-right: 84px;
  
  }
}

.header-list {
  display: none;
  text-align: left;
  @media  screen and (min-width:768px){
    display:flex; 
  
}

}

.header-list__item {
  font-size: 14px;
  line-height: 1.17;
  font-weight: 500;
  letter-spacing: 0.03em;
  display: flex;
  align-items: center;
  position: relative;
}
.header-list__item:not(:last-child) {
  margin-right: 50px;

}

.header-list__link--current {
  color: var(--accent-color);
 
}
.header-list__link--current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -32px;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
  
 
}

.header-list__link {
  font-size: 14px;
  line-height: 0.02em;
  font-weight: 500;
  letter-spacing: 0.03em;
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text-color);
  transition: color 250ms var(--timing-function);
  @media  screen and (min-width:768px){
    display:block; 
    padding-top: 0;
    padding-bottom: 0;
  
}
}
.header-list__link:hover, .header-list__link:focus {
  color: var(--accent-color);
 
}

.contacs__link {
  font-size: 14px;
  line-height: 0.02em;
  font-weight: 500;
  letter-spacing: 0.03em;
  display: flex;
  align-items: center;
  color: var(--secondary-color);
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms var(--timing-function);
  @media  screen and (min-width:768px){
    display:flex; 
    padding-top: 0;
    padding-bottom:0;
}
@media  screen and (min-width:768px){
  display:flex; 

}

}
.contacs__link:hover, .contacs__link:focus {
  color: var(--accent-color);
}

.contacs {
  margin-left: auto;
  display: none;
  @media  screen and (min-width:768px){
    display:block; 
    margin-left: auto;
  
  }
  @media  screen and (min-width:1200px){
    display:flex; 
  }
 }
.contacs__items {
  display: flex;
  align-items: center;
  &:not(:last-child) {
    margin-right: 30px;
  }
  @media  screen and (min-width:768px){
    &:not(:last-child) {
      margin-bottom: 10px;
      margin-right: 0;
 }
    @media  screen and (min-width:1200px){
       align-items: baseline;
       display:flex;
       margin-bottom: 0;

      &:not(:last-child) {
       margin-right: 30px;
       margin-bottom: 0;
    
       
      }
  
      }
  }
}
// .contacs__items:not(:last-child) {
//   margin-right: 30px;
// }

.contacs__icon {
  margin-right: 10px;
  fill: currentColor;
}

.menu-open, .menu-close{
  width: 40px;
  height: 40px;
  border: none;
  display: flex;
  align-items:center;
  justify-content: center;
  cursor: pointer;
  background-color: transparent;
}
.menu-close{
 position: absolute;
  right: 15px;
  top: -37px;
}
.burger{
position: relative;
display: block;
.menu-open:hover &{
background-color: var(--accent-color);
}
}

.mob-menu{
 position: fixed;
 background-color: #FFFFFF;
 width: 100vw;
 height: 100vh;
 top: 0;
 padding-top: 48px;
 padding-bottom: 48px;
 .container{
   position: relative;
   display: flex;
   flex-direction: column;
  //  justify-content: space-between;
   height: 100%;
  }
  @media  screen and (min-width:768px){
    display: none;
}
}

.mob-menu-item{
  &:not(:last-child){
  margin-bottom: 32px;
  }
}
.mob-menu-link{
  font-size: 40px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--title-text-color);
  // text-decoration:none;
}
.mob-contacs-list{
  margin-bottom: 32px;
}
.mob-contacs-item{
 &:not(:last-child){
   margin-bottom: 32px;
 }
}
.mob-contacs-link{
font-size: 24px;
font-weight: 500;
line-height: 1.16;
letter-spacing: 0.02em;
// text-align: left;
color: var(--secondary-color);
}

.mob-contacs-tel-link{
  font-size: 34px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-align: left;
  
}
.mob-social-list{
  display: flex;
}
.mob-social-item{
  &:not(:last-child){
    margin-right: 10px;
    .mob-social-link{
      border-right: 1px solid rgba(33, 33, 33, 0.2);
      transform: rotate(90deg);
      padding-right: 10px; 
    } 
  } 
}
.mob-social-link{
 
font-size: 18px;

font-weight: 500;
line-height:1.22;
letter-spacing: 0.02em;
text-align: left;
color: var(--accent-color);
border-right: 1px solid rgba(33, 33, 33, 0.2);
transform: rotate(90deg);
}
.mob-menu.is-hidden{
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.icon-menu{
  @media  screen and (min-width:768px){
    display: none;
  } 
}