.header {
  border-bottom: 1px solid #ECECEC;
}

.header__container {
  display: flex;
  align-items: center;
}

.logo {
  font-size: 26px;
  line-height: 1.19;
  font-weight: 700;
  letter-spacing: 0.03em;
  display: flex;
  font-family: Raleway, sans-serif;
}

.logo_color_light {
  color: var(--accent-color);
  margin-right: 93px;
}

.logo_color_dark {
  color: var(--title-text-color);
}


.header-items {
  display: flex;
  align-items: center;
}

.header-list {
  display: flex;
  text-align: left;
}

.header-list__item {
  font-size: 14px;
  line-height: 1.17;
  font-weight: 500;
  letter-spacing: 0.03em;
  display: flex;
  align-items: center;
}
.header-list__item:not(:last-child) {
  margin-right: 50px;
}

.header-list__link__current {
  color: var(--accent-color);
}

.header-list__link__current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.header-list__link {
  font-size: 14px;
  line-height: 0.02em;
  font-weight: 500;
  letter-spacing: 0.03em;
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text-color);
  transition: color 250ms var(--timing-function);
}
.header-list__link:hover, .header-list__link:focus {
  color: var(--accent-color);
}

.contacs__link {
  font-size: 14px;
  line-height: 0.02em;
  font-weight: 500;
  letter-spacing: 0.03em;
  display: flex;
  align-items: center;
  color: var(--secondary-color);
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms var(--timing-function);
}
.contacs__link:hover, .contacs__link:focus {
  color: var(--accent-color);
}

.contacs {
  margin-left: auto;
  display: flex;
}

.contacs__items {
  display: flex;
  align-items: center;
}
.contacs__items:not(:last-child) {
  margin-right: 30px;
}

.contacs__icon {
  margin-right: 10px;
  fill: currentColor;
}




      


      
