.menu-toggle:focus{
    background-color: rgba( 0, 0, 0.1);
}
.menu-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%vw;
    height: 100%vh;
    padding: 32px;
    background-color: royalblue;
}